altgraph==0.17
certifi==2020.6.20
cycler==0.10.0
decorator==4.4.2
future==0.18.2
GDAL @ file:///D:/tt/GDAL-3.1.2-cp38-cp38-win_amd64.whl
imageio==2.9.0
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==2.2.5
networkx==2.4
numpy==1.19.1
pandas==1.1.0
pefile==2019.4.18
Pillow==7.2.0
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
tifffile==2020.8.13
